/*                                Dise침o para index.html                                                 */

body{
    background-color: rgb(255,248,220); 
}

.grid_container_index {
    display: grid;
    background-color: rgb(255,248,220);
    margin: 20px;
    gap: 20px;
    padding: 30px;
}

@media all and (max-width: 600px){

    .grid_container_index {
        grid-template-areas: 'header'
        'texto_1 '
        'texto_2 '
        'texto_3 '
        'menu_1'
        'img';
    }
    .menues a{
        padding-bottom: 30px;
    }

}

@media all and (min-width: 600px){

    .grid_container_index {
        grid-template-areas: 'header texto_1'
        'menu_1 texto_2 '
        'menu_1 texto_3'
        'img img';
    }
    .menues a{
        padding-bottom: 30px;
    }
}

@media all and (min-width: 1200px){

    .grid_container_index {
        grid-template-areas: 'header header'
    'texto_1 texto_1'
    'texto_2 texto_2'
    'texto_3 texto_3'
    'menu_1 img';
    }

    .menues a{
        padding-top: 60px;
    }
}


.titulo {
    font-family: 'Press Start 2P', cursive;
    text-align: center;
    color:rgb(0,0,0);
    font-size: 80px; 
    grid-area: header;
}

.texto_1{
    font-family: 'Orbitron', sans-serif;
    font-size: medium; 
    grid-area: texto_1;
    color:rgb(0,0,0);
    
}


.texto_2{
    font-family: 'Orbitron', sans-serif;
    font-size: medium; 
    grid-area: texto_2;
    color:rgb(0,0,0);
    
}

.texto_3{
    font-family: 'Orbitron', sans-serif;
    font-size: medium; 
    grid-area: texto_3;
    color:rgb(0,0,0);

}

.img {
    grid-area: img;
    align-items: center;
    padding-left: 80px;
}

.menues {
    display: grid;
    text-align: center;
    grid-area: menu_1;
}

.menues a{
    font-family: 'Orbitron', sans-serif;
    border-style: solid;
    border-color: rgb(95,158,160);
    color: rgb(0,0,0);
    padding-top: 60px;
}





/*                                Dise침o para ciudades.html                                                 */



.grid_container_ciudades {
    
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: repeat(8, auto);
    background-color: rgb(240,248,255);
    margin: 20px;
    gap: 20px;
    padding: 30px; 

}

.Pallet_Town{
    color:rgb(139,69,19);
}

.Viridian_City{
    color:rgb(46,139,87);
}

.Pewter_City{
    color:rgb(192,192,192);
}

.Cerulean_City{
    color:rgb(30,144,255);
}

.Saffron_City{
    color:rgb(210,105,30);
}

.Vermilion_City{
    color:rgb(255,69,0);
}

.Celadon_City{
    color:rgb(143,188,143);
}

.Fucshia_City{
    color:rgb(252,15,192);
}

.Lavender_Town{
    color:rgb(218,112,214);
}

.Cinnabar_Island{
    color:rgb(255,99,71);
}


.grid_container_ciudades > * {
    text-align: center;
}

.grid_container_ciudades > p {

    font-family: 'Orbitron', sans-serif;
    font-size: medium; 
    grid-column: 1 / 3;
    color:rgb(0,0,0);
}

.grid_container_ciudades > a {

    font-family: 'Orbitron', sans-serif;
    font-size: medium; 
    padding: 50px;
}

.titulo_ciudades {
    font-family: 'Press Start 2P', cursive;
    color:rgb(0,0,0);
    font-size: 80px; 
    grid-column: 1 / 3;
}

.footer_ciudades {
    grid-column: 1 / 3;
    text-align: center;
    color: rgb(0,0,0);
}

@media all and (max-width: 600px){

    .grid_container_ciudades {
        grid-template-columns: auto auto;
        grid-template-rows: repeat(13, auto);
    }
    
    .grid_container_ciudades > a {
        grid-column: 1 / 3;
    }


}

/*                                         Dise침o pag no terminada                                                 */


.body_pag_no_terminada{
    background: black;
}

.grid_continer_pag_no_terminada{
    display: grid;
    background-color: rgb(0,0,0);
    margin: 20px;
    gap: 20px;
    padding: 30px;
    grid-template-areas: 'img_1 texto_4 img_2'
    'img_1 circle img_2'
    'img_3 texto_5 img_4'
    'home home home';
}

/*.grid_continer_pag_no_terminada > *{
    border-style: solid;
}
*/
.texto_4 {
    font-family: 'Press Start 2P', cursive;
    text-align: center;
    color:rgb(255,248,220);
    grid-area: texto_4;
    font-size: 60px;
}

.texto_5 {
    font-family: 'Press Start 2P', cursive;
    text-align: center;
    color:rgb(255,248,220);
    grid-area: texto_5;
    font-size: 60px;
}

.img_1{
    grid-area: img_1;
}

.img_2{
    grid-area: img_2;
}

.img_3{
    grid-area: img_3;
}

.img_4{
    grid-area: img_4;
}

.home{
    grid-area: home;
    text-align: center;
    color: rgb(255,248,220);
}

/*                                         Animaci칩n                                                  */


.circle {
    margin-top: -50px;
    margin-left: 200px;
    width: 40px;
    height: 40px;
    background: rgb(255,248,220);
    border-radius: 50%;
    grid-area: circle;
    align-self: center;
    animation: mover 3s infinite;
}

@keyframes mover {
    0%{
        transform: translate(0);
        background-color: rgb(255,248,220) ;
    }
    
    25%{
        transform: translate(100%);
        background-color: rgb(255,248,220) ;
    }

    50%{
        transform: translate(100%,100%);
        background-color: rgb(255,248,220) ;
    }

    75%{
        transform: translate(0, 100%);
        background-color: rgb(255,248,220) ;
    }

}