/*                                Diseño para index.html                                                 */

body{
    background-color: rgb(192,192,192); 
}

.grid_container_index {
    display: grid;
    background-color: rgb(105,105,105);
    margin: 20px;
    gap: 20px;
    padding: 30px;
}

/*
.grid_container_index > * {
    border-style: solid;
}
*/

@media all and (max-width: 600px){

    .grid_container_index {
        grid-template-areas: 'header'
        'texto_1 '
        'texto_2 '
        'texto_3 '
        'menu_1'
        'img';
    }
    .menues a{
        padding-bottom: 30px;
    }

}

@media all and (min-width: 600px){

    .grid_container_index {
        grid-template-areas: 'header texto_1'
        'menu_1 texto_2 '
        'menu_1 texto_3'
        'img img';
    }
    .menues a{
        padding-bottom: 30px;
    }
}

@media all and (min-width: 1200px){

    .grid_container_index {
        grid-template-areas: 'header header'
    'texto_1 texto_1'
    'texto_2 texto_2'
    'texto_3 texto_3'
    'menu_1 img';
    }

    .menues a{
        padding-top: 60px;
    }
}


.titulo {
    font-family: 'Press Start 2P', cursive;
    text-align: center;
    color:rgb(255,255,240);
    font-size: 80px; 
    grid-area: header;
}

.texto_1{
    font-family: 'Orbitron', sans-serif;
    font-size: medium; 
    grid-area: texto_1;
    color:rgb(255,255,240);
    
}


.texto_2{
    font-family: 'Orbitron', sans-serif;
    font-size: medium; 
    grid-area: texto_2;
    color:rgb(255,255,240);
    
}

.texto_3{
    font-family: 'Orbitron', sans-serif;
    font-size: medium; 
    grid-area: texto_3;
    color:rgb(255,255,240);

}

.img {
    grid-area: img;
    align-items: center;
    padding-left: 80px;
}

.menues {
    display: grid;
    text-align: center;
    grid-area: menu_1;
}

.menues a{
    font-family: 'Orbitron', sans-serif;
    border-style: solid;
    border-color: rgb(139,0,0);
    padding-top: 60px;
}





/*                                Diseño para ciudades.html                                                 */



.grid_container_ciudades {
    
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-template-rows: auto auto auto auto auto;

}

.grid_container_ciudades > * {

    border-style: solid;

}

.grid_container_ciudades > p {

    font-family: 'Orbitron', sans-serif;
    font-size: medium; 
    grid-column: 1 / 5;
    color:rgb(255,255,240);
}

.titulo_ciudades {
    font-family: 'Press Start 2P', cursive;
    text-align: center;
    color:rgb(255,255,240);
    font-size: 80px; 
    grid-column: 1 / 5;
}