* {
    font-family: 'Press Start 2P', cursive;
}


.grid_container_index {
    display: grid;
    grid-template-areas: 'header header'
    'texto_1 texto_1'
    'texto_2 texto_2'
    'texto_3 texto_3'
    'menu_1 img'
    'menu_2 img';
}

.titulo {
    color:rgb(205,92,92);
    background-color: rgb(124,252,0);
    font-size: x-large; 
    grid-area: header;
}

.texto_1{
    font-size: small; 
    grid-area: texto_1;
}


.texto_2{
    font-size: small; 
    grid-area: texto_2;
}

.texto_3{
    font-size: small; 
    grid-area: texto_3;
}

.img {
    grid-area: img;
}

.contactanos{
    grid-area: menu_2;
}

.ciudades{
    grid-area: menu_1;
}
/*
header {
    color:rgb(205,92,92);
    background-color: rgb(124,252,0);
    font-size: x-large; 
}

body{
    font-size: small; 
}
*/